{% extends 'base.html' %}

{% block title %}
  Link
{% endblock %}

 {% block appheading %}
  <div class="app-top-bar">
    <h1 class="app-heading">Add New Link</h1>
  </div>
  {% endblock %}

{% block body %}
<style>
.app-container {
  margin-top: 150px;
  justify-content: center;
  align-item: center;
  align-content: center;
  justify-item: center;
}
.link{
 position: relative;
 margin-right: 10px;
 box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
 width: 100%;
 height: 60px;
 box-sizing: border-box;
 transition: all 0.2s ease-in-out;
 appearance: none;
 -webkit-appearance: none;
 left: -13px;
}
.black{
 position: relative;
 left: -13px;
}
.username:focus {
 box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}
</style>
  <form method="post"> {% csrf_token %}
    <label>
     <input class="link" id="link" name="link" type="text" placeholder="Add Link"/>
 </label>
  <button type="submit" class="black">Add</button>
</form>

{% for Link in link %}
    {{Link.link}}
{% endfor %}


{% endblock %}